*{padding: 0; margin: 0; box-sizing: border-box;}
.wrap{
    width: 100%;
    user-select: none;
}
ul{list-style: none;}
img{width: 100%;}
header{
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    z-index: 99;
}
.left_head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% / 2);
    height: 100px;
}
.logo{
    width: 113px;
    height: 65px;
    background: url('../img/ico_sprite.png') no-repeat;
    background-position: 0 0;
}
.right_head{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% / 2);
    height: 100px;
}
.logo_right{
    display: flex;
    justify-content: flex-end;
    width: 96px;
    height: 65px;
    background: url('../img/ico_sprite.png') no-repeat;
    background-position: -493px -83px;
}
.right_btn{
    display: flex;
    justify-content: flex-end;
    width: 32px;
    height: 24px;
    background: url('../img/ico_sprite.png') no-repeat;
    background-position: -56px -108px; 
    cursor: pointer;
    margin-left: 20px; 
}
nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: url('../img/nav_main.jpg') no-repeat center;
    background-size: cover; 
    display: none;
    z-index: 99;
}
.block{
    display: block;
}
main{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: -100px; 
}
.slide_img{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.move_slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 25px;
}
.move_slide:nth-child(1){
    background: url("../img/main_img01.jpg") no-repeat center;
    background-size: cover; 
}
.move_slide:nth-child(2){
    background: url("../img/main_img02.jpg") no-repeat center;
    background-size: cover; 
}
.move_slide:nth-child(1) h1{
    position: absolute;
    right: 10%;
    top: 40%;
}
.move_slide:nth-child(1) p{
    position: absolute;
    right: 10%;
    top: 50%;
}
.move_slide:nth-child(2) h1{
    position: absolute;
    left: 10%;
    top: 40%;
}
.move_slide:nth-child(2) p{
    position: absolute;
    left: 10%;
    top: 50%;
}
.btn{
    position: absolute;
    width: 100px;
    height: 100%;
    outline: none;
    background: transparent;
    border: none;
    z-index: 9;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}
#left_btn{
    left: 0;
    top: 0
}
#right_btn{
    right: 0;
    top: 0;
}
.slide_bull{
    position: absolute;
    left: 100px;
    bottom: 100px;
    display: flex;
}
.in_bull{
    width: 100px;
    height: 5px;
    margin-left: 20px; 
    border: 1px solid #fff;
}
.active{
    background: #fff;
}
section{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.sec01{
    width: 100%;
    background: #fff;
    padding: 80px;
    margin: 0 auto;
}
.sec01_ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.sec01_ul .sec01_li{
    padding-top: 10px; 
}
.sec01_ul .sec01_li:nth-child(1){
    padding-top: 0; 
}
.sec02{
    width: 100%;
    height: 500px;
    background: url("../img/sec_img01.jpg") no-repeat center;
    background-size: cover; 
}
.sec03{
    width: 100%;
    height: 500px;
    background: url("../img/sec_img02.jpg") no-repeat center;
    background-size: cover; 
}
.sec04{
    width: 100%;
    height: 500px;
    background: url("../img/sec_img03.jpg") no-repeat center;
    background-size: cover; 
}
.sec02, .sec03, .sec04{
    position: relative;
}
.sec02_text, .sec04_text{
    position: absolute;
    left: 200px;
    top: 150px;
    width: 480px;
    color: #fff;
}
.sec03_text{
    position: absolute;
    right: 200px;
    top: 150px;
    width: 480px;
    color: #fff;
}
.sec02_text h1, .sec03_text h1, .sec04_text h1{
    margin-bottom: 30px; 
    font-size: 40px;
}
.sec02_text p, .sec03_text p, .sec04_text p{
    padding-right: 150px; 
}
.sec05{
    width: 100%;
    padding: 50px 200px 0;
}
.sec05_box{
    position: relative;
    width: 100%;
    margin-bottom: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec05_left_top, .sec05_left_mid, .sec05_left_bot{
   width: 100%;
   overflow: hidden;
}
.sec05_right_top,.sec05_right_mid, .sec05_right_bot{
   width: 100%;
   overflow: hidden;
}
.sec05_right_mid{
    text-align: left;
    margin-left: 100px;
}
.sec05_right_top img, .sec05_left_mid img, .sec05_right_bot img{
    transform: scale(1);
    cursor: pointer;
}
.sec05_right_top img:hover, .sec05_left_mid img:hover, .sec05_right_bot img:hover{
    transform: scale(1.1);
    transition: .5s;
}
.sec05_box h1{
    font-size: 40px;
    margin-bottom: 20px; 
}
.sec05_box p{
    padding-right: 280px; 
}
.sec06_box{
    position: relative;
}
.sec06_box_img{
    width: 100%;
    height: 400px;
}
.sec06_txt{
    position: absolute;
    left: 200px;
    top: 30%;
    color: #fff;
}
.sec06_txt h1{
    font-size: 40px;
    margin-bottom: 20px; 
}
.sec07{
    width: 100%;
    padding: 50px 200px 0;
}
.sec07_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec07_right{
    width: 100%;
    overflow: hidden;
}
.sec07_right img{
    transform: scale(1);
    cursor: pointer;
}
.sec07_right img:hover{
    transform: scale(1.1);
    transition: .5s;
}
.sec07_left{
    width: 100%;
    margin-left: 100px; 
}
.sec07_box h1{
    font-size: 41px;
    margin-bottom: 20px; 
    padding-right: 80px; 
}
.sec07_box p{
    padding-right: 280px; 
}
.sec07_box01{
    margin-top: 100px; 
    margin-bottom: 100px; 
}
.sec07_box01_txt{
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 99;
}
.sec07_box01_txt h1{
    display: flex;
    justify-content: flex-start;
    width: 80%;
}
.sec07_box01_txt .icon_img_B_under{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20%;
    cursor: pointer;
}
.icon_img_B_under .icon_bg_B_under{
    display: inline-block;
    width: 46px;
    height: 20px;
    background: url('../img/ico_sprite.png') no-repeat;
    background-position: -433px -252px;
    margin-top: 30px; 
}
.icon_img_B_under span{
    opacity: 0;
    transform: scale(0);
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px; 
}
.icon_img_B_under:hover span{
    opacity: 1;
    transform: scale(1);
    transition: .4s;
}
.sec07_box01_box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px; 
    overflow: hidden;
}
.img_box{
    height: 100px;
    cursor: pointer;
}
.img_box:nth-child(1){
    grid-row: 1/6;
    height: auto;
    background: url('../img/sec_img09.jpg') no-repeat center;
    background-size:cover; 
}
.img_box:nth-child(2){
    grid-row: 1/5;
    height: 400px;
    background: url('../img/sec_img010.jpg') no-repeat center;
    background-size:cover; 
}
.img_box:nth-child(3){
    grid-row: 1/6;
    height: auto;
    background: url('../img/sec_img011.jpg') no-repeat center;
    background-size:cover; 
}
.img_box:nth-child(4){
    grid-row: 6/10;
    height: 400px;
    background: url('../img/sec_img012.jpg') no-repeat center;
    background-size:cover; 
}
.img_box:nth-child(5){
    grid-row: 5/10;
    height: 500px;
    background: url('../img/sec_img013.jpg') no-repeat center;
    background-size:cover; 
}
.img_box:nth-child(6){
    grid-row: 6/10;
    height: 400px;
    background: url('../img/sec_img014.jpg') no-repeat center;
    background-size:cover; 
}
.img_box span{
    display: inline-block;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    padding-left: 30px; 
}
.img_box:nth-child(1) span, .img_box:nth-child(3) span, .img_box:nth-child(5) span{
    margin-top: 400px; 
}
.img_box:nth-child(2) span, .img_box:nth-child(4) span, .img_box:nth-child(6) span{
    margin-top: 300px; 
}

.icon_img{
    width: 100%;
    cursor: pointer;
}
.icon_bg{
    display: inline-block;
    width: 46px;
    height: 20px;
    background: url('../img/ico_sprite.png') no-repeat;
    background-position: -482px -252px;
    margin-top: 30px; 
    transform: translateX(0);
}
.icon_img:hover .icon_bg{
    transform: translateX(100px);
    transition: .4s;
}
.icon_img span{
    display: none;
    width: 80px;
    transform: translateX(0);
    cursor: pointer;
}
.icon_img:hover span{
    display: inline-block;
    transform: translateX(-50px);
}
.icon_img_B{
    width: 100%;
    cursor: pointer;
}
.icon_bg_B{
    display: inline-block;
    width: 49px;
    height: 20px;
    background: url('../img/ico_sprite.png') no-repeat;
    background-position: -432px -252px;
    margin-top: 30px; 
    transform: translateX(0);
}
.icon_img_B:hover .icon_bg_B{
    transform: translateX(100px);
    transition: .4s;
}
.icon_img_B span{
    display: none;
    width: 80px;
    transform: translateX(0);
    cursor: pointer;
}
.icon_img_B:hover span{
    display: inline-block;
    transform: translateX(-50px);
}
footer{
    width: 100%;
    background: #000;
}
.fot_box{
    display: flex;
    width: 100%;
    padding: 50px 200px;
}
.fot_logo{
    display: flex;
    justify-content: flex-start;
    width: 110px;
    height: 60px;
    background: url('../img/ico_sprite.png') no-repeat;
    background-position: 0 0; 
}
.txt_fot_nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}   
.fot_left_ul{
    margin-right: 200px; 
}
.fot_left_ul .fot_left_li{
    padding-top: 15px; 
    color: #fff;
    font-size: 18px;
}
.fot_left_ul .fot_left_li:nth-child(1){
    padding: 0;
}
.fot_right_ul{
    margin-right: 100px; 
}
.fot_right_ul .fot_right_li{
    padding-top: 12px; 
    color: #fff;
    font-size: 15px;
}
.fot_right_ul .fot_right_li:nth-child(1){
    padding: 0;
    width: 161px;
    height: 16px;
    background: url('../img/txt_foot_link.png') no-repeat center;
    background-size:cover; 
}